@model IEnumerable<Newspapers.Models.Article>
    @{
    ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    @if (!Model.Any())
    {
    <p>We don't have articles yet.</p>
    }
    else
    {
        @foreach (var article in Model)
        {
            <h3>@Html.ActionLink(article.Title, "Details", "Articles", new { id = article.Id }, null)</h3>
            <p>@article.Body.Substring(0, article.Body.Length / 2)
                <span class="float-right">@Html.ActionLink(" opširnije...", "Details", "Articles", new { id = article.Id }, null)</span></p>
            <p></p>
        }
    
    }

